<footer>
    <div class="container">
        <div class="footer-items">
            <div class="left">
                <p>15 лет на рынке складской логистики</p>
            </div>

            <div class="right">
                <p><span>Движение вперед,</span> <br>внимание к деталям</p>
            </div>
        </div>
    </div>
</footer>

<div class="modal call" id="call">
    <div class="modal-wrapp">
        <div class="modal-content">
            <div class="modal-title">
                <h3>Заказать обратный звонок</h3>
                <span>Оставьте свой номер телефона и мы перезвоним вам</span>
            </div>
            <div class="modal-about">
                <form>
                    <div class="form-group">
                        <label for="number">Ваш номер телефона<span>*</span></label>
                        <input type="text" placeholder="+7 (000) 000-00-00 ">
                    </div>
                    <div class="form-group">
                        <label for="last">ФИО<span>*</span></label>
                        <input type="text" placeholder="ФИО" id="last">
                    </div>
                    <div class="form-group time">
                        <label for="time">Удобное время для звонка (Московское время)*<span>*</span></label>
                        <input type="text" placeholder="00:00">
                    </div>
                    <div class="form-group">
                        <button>Жду звонка</button>
                    </div>
                    <div class="aggree">
                        <h5>Вы даете согласие на <a href="#">обработку персональных данных.</a></h5>
                    </div>
                </form>
            </div>
        </div>
        <span class="close">x</span>
    </div>
</div>
<div class="modal order" id="order">
    <div class="modal-wrapp">
        <div class="modal-content order">
            <div class="modal-about">
            <span class="close">x</span>
                <form>
                    <div class="form-content">
                        <div class="form-group">
                            <label>Контактное лицо<span>*</span></label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label>Номер телефона<span>*</span></label>
                            <input type="text" placeholder="+7 -">
                        </div>
                        <div class="form-group all">
                            <label>Краткое описание хранимого товара<span>*</span></label>
                            <textarea></textarea>
                        </div>
                        <div class="pallet">
                            <div class="form-group pallet-input">
                                <label>Укажите объём и единицы измерения<span>*</span></label>
                                <input type="text" placeholder="Объем">
                                <select>
                                    <option>Паллеты</option>
                                    <option>Паллеты</option>
                                    <option>Паллеты</option>
                                    <option>Паллеты</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="selects">
                        <h4>Укажите объём и единицы измерения*</h4>
                        <div class="select-form">
                            <input id="danger" type="checkbox">
                            <label for="danger" class="check"></label>
                            <label>Опасные и вредные </label>
                        </div>
                        <div class="select-form">
                            <input id="permits" type="checkbox">
                            <label for="permits" class="check"></label>
                            <label>Требующие наличия у хранителя разрешительной документации </label>
                        </div>
                        <div class="select-form">
                            <input id="or" type="checkbox">
                            <label for="or" class="check"></label>
                            <label>Требующие особой обработки и/или хранения</label>
                        </div>
                        <div class="select-form">
                            <input id="products" type="checkbox">
                            <label for="products" class="check"></label>
                            <label>Требующие проверки на предмет совместимости с другими товарами</label>
                        </div>
                        <div class="select-form">
                            <input id="liquid" type="checkbox">
                            <label for="liquid" class="check"></label>
                            <label>Высоколиквидные товары </label>
                        </div>
                    </div>
                    <div class="send">

                        <div class="aggree send-aggree">
                            <p> <span>*</span>- поля, обязательные для заполнения Вы даете согласие на обраб</p>
                            <h5>Вы даете согласие на <a href="#">обработку персональных данных.</a></h5>
                        </div>
                        <div class="form-group form-btn">
                            <button>Отправить</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <span class="close">x</span>
    </div>
</div>
</div>



<script src="js/jquery-3.3.1.min.js" defer></script>
<script src="js/owl.carousel.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/jquery.suggestions/17.2/js/jquery.suggestions.min.js" defer></script>
<script src="js/jquery-ui.min.js" defer></script>
<script src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU"></script>

<!-- Main js file -->
<script src="js/main.js" defer></script>
</body>

</html>