<% include partials/header.ejs %>
<section class="offer">
    <div class="container">
        <p class="offer-sup">Ответственное хранение и обработка товаров на складе</p>

        <div class="offer-wrapp">
            <div class="offer-title">
                <h2>Выгодное предложение <span>НОЯБРЯ</span>, хранение от <span>13,6 рублей</span> без НДС</h2>
            </div>
            <div class="offer-content">
                <div class="offer-about">
                    <div class="offer-item">
                        <div class="item-img">
                            <img src="img/icons/pallet_thin1.svg" alt="item">
                        </div>
                        <div class="item-title">
                            <p>От <span>100</span> паллетомест (европолеты весом до 500кг)</p>
                        </div>
                    </div>
                    <div class="offer-item">
                        <div class="item-img">
                            <img src="img/icons/personal-manager.svg" alt="item">
                        </div>
                        <div class="item-title">
                            <p><span>Персональный</span> <br> менеджер</p>
                        </div>
                    </div>
                    <div class="offer-item">
                        <div class="item-img">
                            <img src="img/icons/warehouse1.svg" alt="item">
                        </div>
                        <div class="item-title">
                            <p>Склад категории <span>А+</span>, Температурный режим хранения: <span>18°С</span></p>
                        </div>
                    </div>
                    <div class="offer-item">
                        <div class="item-img">
                            <img src="img/icons/insurance.svg" class="insurance" alt="item">
                        </div>
                        <div class="item-title">
                            <p>Весь товар полностью <span>застрахован!</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn">
                <a href="#order" data-target="" class="open-modal">Оформить заявку</a>
            </div>
        </div>
    </div>
</section>

<section class="cases">
    <div class="title">
        <h2>Кейсы</h2>
    </div>
    <div class="cases-content">
        <div class="cases-item">
            <img src="img/cases1.png" alt="">
            <div class="cases-item-about">
                <div class="cases-item-about-center">
                    <h4>Перевозка растений</h4>
                    <p>Благодаря налаженной схеме работы, опыту в организации железнодорожных перевозок и компетентности
                        специалистов компании «Мэйджор Карго Сервис», техника и оборудование прибыли в установленные сроки.
                        Проведенные мероприятия создали прекрасные условия для обеспечения надежного, прогнозируемого
                        завершения проекта при высоком качестве сервиса. Клиент остался доволен и мы участвуем в реализации
                        для него следующих проектов.</p>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="img/cases2.png" alt="">
            <div class="cases-item-about">
                <div class="cases-item-about-center">
                    <h4>Перевозка растений</h4>
                    <p>Благодаря налаженной схеме работы, опыту в организации железнодорожных перевозок и компетентности
                        специалистов компании «Мэйджор Карго Сервис», техника и оборудование прибыли в установленные сроки.
                        Проведенные мероприятия создали прекрасные условия для обеспечения надежного, прогнозируемого
                        завершения проекта при высоком качестве сервиса. Клиент остался доволен и мы участвуем в реализации
                        для него следующих проектов.</p>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="img/cases1.png" alt="">
            <div class="cases-item-about">
                <div class="cases-item-about-center">
                    <h4>Перевозка растений</h4>
                    <p>Благодаря налаженной схеме работы, опыту в организации железнодорожных перевозок и компетентности
                        специалистов компании «Мэйджор Карго Сервис», техника и оборудование прибыли в установленные сроки.
                        Проведенные мероприятия создали прекрасные условия для обеспечения надежного, прогнозируемого
                        завершения проекта при высоком качестве сервиса. Клиент остался доволен и мы участвуем в реализации
                        для него следующих проектов.</p>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="img/cases3.png" alt="">
            <div class="cases-item-about">
                <div class="cases-item-about-center">
                    <h4>Перевозка растений</h4>
                    <p>Благодаря налаженной схеме работы, опыту в организации железнодорожных перевозок и компетентности
                        специалистов компании «Мэйджор Карго Сервис», техника и оборудование прибыли в установленные сроки.
                        Проведенные мероприятия создали прекрасные условия для обеспечения надежного, прогнозируемого
                        завершения проекта при высоком качестве сервиса. Клиент остался доволен и мы участвуем в реализации
                        для него следующих проектов.</p>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="img/cases1.png" alt="">
            <div class="cases-item-about">
                <div class="cases-item-about-center">
                    <h4>Перевозка растений</h4>
                    <p>Благодаря налаженной схеме работы, опыту в организации железнодорожных перевозок и компетентности
                        специалистов компании «Мэйджор Карго Сервис», техника и оборудование прибыли в установленные сроки.
                        Проведенные мероприятия создали прекрасные условия для обеспечения надежного, прогнозируемого
                        завершения проекта при высоком качестве сервиса. Клиент остался доволен и мы участвуем в реализации
                        для него следующих проектов.</p>
                </div>
            </div>
        </div>
        <div class="cases-item">
            <img src="img/cases2.png" alt="">
            <div class="cases-item-about">
                <div class="cases-item-about-center">
                    <h4>Перевозка растений</h4>
                    <p>Благодаря налаженной схеме работы, опыту в организации железнодорожных перевозок и компетентности
                        специалистов компании «Мэйджор Карго Сервис», техника и оборудование прибыли в установленные сроки.
                        Проведенные мероприятия создали прекрасные условия для обеспечения надежного, прогнозируемого
                        завершения проекта при высоком качестве сервиса. Клиент остался доволен и мы участвуем в реализации
                        для него следующих проектов.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="title">
            <h2>Услуги</h2>
        </div>
        <div class="services-content">
            <div class="services-wrapp">
                <div class="services-item">
                    <div class="services-img">
                        <img src="img/icons/boxes.svg" alt="Boxes">
                    </div>
                    <div class="services-about">
                        <h4>ОТВЕТСТВЕННОЕ ХРАНЕНИЕ</h4>
                        <p>Интеллектуальное размещение на хранение с учетом массогабаритных характеристик паллета, АВС
                            анализа, принципов товарного соседства и с учетом партийности и сроков годности.</p>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-img">
                        <img src="img/icons/conveyor2.svg" alt="Boxes">
                    </div>
                    <div class="services-about">
                        <h4>ОБРАБОТКА РЕКЛАМНЫХ МАТЕРИАЛОВ</h4>
                        <ul>
                            <li>Формирование подарочных наборов (стандартные короба, брендированные короба, заказная
                                PoSM-плёнка)</li>
                            <li>Фасовка и упаковка в промо-пакеты (метро-юниты, маркетинговые рукава, термоусадочная
                                пленка)
                            </li>
                            <li>Маркировка, стикеровка, эмбоссирование по спецзаказу, нанесение дополнительной
                                информации
                            </li>
                            <li> Комплектование бандлов </li>
                            <li>Поштучный подбор, многоартикулярная комплектация</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="services-wrapp">
                <div class="services-item">
                    <div class="services-img">
                        <img src="img/icons/transport.svg" alt="Boxes">
                    </div>
                    <div class="services-about">
                        <h4>Транзит</h4>
                        <ul>
                            <li>Обработка/хранение транзитных грузов;</li>
                            <li>Возможность деления транзитных грузов на несколько товарных партий;</li>
                            <li>Нанесение транспортной этикетки с информацией о товаре и получателе;</li>
                            <li>Выгрузка/погрузка товара;</li>
                            <li>Единовременная приемка грузовых мест и комплектация по получателям;</li>
                        </ul>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-img">
                        <img src="img/icons/conveyor.svg" alt="Boxes">
                    </div>
                    <div class="services-about">
                        <h4>ПРИЕМКА И СОРТИРОВКА</h4>
                        <ul>
                            <li>При необходимости сразу осуществляется вскрытие грузовых мест и поштучная приемка по
                                маркировке путем сканирования штрих-кода с параллельной сортировкой.</li>
                            <li>Нумерация товара и хранение в стеллажных или мелкоячеистых зонах.</li>
                            <li>Выбраковка товара на этапе приемки. Предоставление фотоотчетов.</li>
                            <li>Сортировка товара по группам/цветам/ размерам/производителям и прочим признакам.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="services-wrapp">
                <div class="services-item">
                    <div class="services-img">
                        <img src="img/icons/forklift.svg" alt="Boxes">
                    </div>
                    <div class="services-about">
                        <h4>КРОСС-ДОКИНГ</h4>
                        <ul>
                            <li> Выгрузка/погрузка товара </li>
                            <li>Единовременная приемка грузовых мест и комплектация по получателям.</li>
                            <li> Нанесение транспортной этикетки с информацией о товаре и получателе.</li>
                            <li>Формирование грузовых мест и упаковочного листа.</li>
                        </ul>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-img">
                        <img src="img/icons/conveyor3.svg" alt="Boxes">
                    </div>
                    <div class="services-about">
                        <h4>ДОПОЛНИТЕЛЬНЫЕ СЕРВИСЫ</h4>
                        <ul>
                            <li>Предпродажная подготовка товаров</li>
                            <li>Обработка возвратов</li>
                            <li>Установка противокражного оборудования</li>
                            <li>Упаковка и переупаковка - разные виды упаковки (короба, тубусы, ящики, специальная
                                упаковочная тара)</li>
                            <li>Обрезание и крепление ярлыков</li>
                            <li>Складывание товара (одежда)</li>
                        </ul>
                    </div>
                </div>
            </div>




        </div>
        <div class="btn">
            <a href="#order" data-target="" class="open-modal">Оформить заявку</a>
        </div>
    </div>
</section>
<section class="warehouse">
    <div class="container">
        <div class="warehouse-wrapp">
            <div class="title">
                <h2>Характеристики склада</h2>
            </div>
            <div class="warehouse-content">
                <div class="warehouse-item">
                    <img src="img/warehouse1.png" alt="">
                </div>
                <div class="warehouse-item">
                    <div class="item-about">
                        <h3>Харктеристики</h3>
                        <ul>
                            <li> 1-этажное помещение, класса <span>А+</span></li>
                            <li>Доступная площадь: <span>2000 м2</span></li>
                            <li>Высота потолков: <span>12 м</span></li>
                            <li>Возможность хранения малогабаритного товара</li>
                            <li>Антипылевое покрытие пола</li>
                            <li>Круглосуточная охрана</li>
                            <li>Видео-мониторинг периметра</li>
                        </ul>
                    </div>
                </div>
                <div class="warehouse-item">
                    <img src="img/warehouse2.png" alt="">
                </div>
                <div class="warehouse-item">
                    <img src="img/warehouse3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="location">
    <div class="title">
        <h2>Расположение склада</h2>
    </div>
    <div class="location-content">
        <div class="map" id="map" style="width: 100%;"></div>
        <div class="container">
            <div class="location-about">
                <div class="location-title">
                    <h4>Major Терминал</h4>
                    <p>Новосибирская область, г. Новосибирск, ул. Большая, 260а Склад Major Terminal</p>
                    <div class="location-call">
                        <a href="#">+7 (8617) 60-00-76</a>
                        <span>(работаем 24/7)</span>
                    </div>
                </div>
                <div class="location-wrapp">
                    <ul>
                        <li>Расположение в черте города</li>
                        <li>Удобное местоположение с малым количеством траффика </li>
                        <li>До центра города - 5 минут</li>
                        <li>Удобный выезд на основные транспортные магистрали М-51, М-52 и М-53</li>
                        <li>Прилегающая территория удобна для маневрирования различного вида транспорта</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wmsblock">
    <div class="container">
        <div class="title">
            <h2>wmsblock в 2019 году</h2>
        </div>
        <div class="wmsblock-content">
            <div class="wmsblock-wrapp">
                <div class="wmsblock-item">
                    <div class="wmsblock-item-wrapp">
                        <div class="wmsblock-img">
                            <img src="img/icons/envelope.svg" alt="">
                        </div>
                        <div class="wmsblock-text">
                            <h5>100 млн.</h5>
                            <span>сообщений EDI</span>
                        </div>
                    </div>
                </div>
                <div class="wmsblock-item">
                    <div class="wmsblock-item-wrapp">
                        <div class="wmsblock-img">
                            <img src="img/icons/delivery.svg"alt="">
                        </div>
                        <div class="wmsblock-text">
                            <h5>20 млн.</h5>
                            <span>единиц товара подобрано</span>
                        </div>
                    </div>
                </div>
                <div class="wmsblock-item">
                    <div class="wmsblock-item-wrapp">
                        <div class="wmsblock-img">
                            <img src="img/icons/pallet_thin.svg" alt="">
                        </div>
                        <div class="wmsblock-text">
                            <h5>2 млн.</h5>
                            <span>паллет отгружено</span>
                        </div>
                    </div>
                </div>
                <div class="wmsblock-item">
                    <div class="wmsblock-item-wrapp">
                        <div class="wmsblock-img">
                            <img src="img/icons/warehouse.svg" alt="">
                        </div>
                        <div class="wmsblock-text">
                            <h5>160 тыс.</h5>
                            <span>квадратных метров под управлением </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wmsblock-about">
                <div class="wmsblock-about-text item-about">
                    <h3>Система управления складом собственной разработки</h3>
                    <p>Информационная система, обеспечивающая автоматизацию управления бизнес-процессами складского
                        оператора качество которой определяется наличием Собственного штата разработчиков </p>
                    
                    <div class="wmsblock-about-list">
                        <ul>
                            <li>Поддержка 24/7</li>
                            <li>Гибкость настройки под процессы Клиента</li>
                            <li>Более 200 готовых отчётов</li>
                            <li>Возможность разработки специфических отчётов по предоставленному техническому заданию</li>
                            <li>Быстрая интеграция с любыми учетными системами Клиента</li>
                        </ul>

                        <ul>
                            <li>Готовые решения по интеграции с SAP, Oracle, Axapta, 1C</li>
                            <li>Форматы передачи данных - XML, CSV, XLS, TXT, iDoc</li>
                            <li>Каналы передачи данных - веб-сервисы (HTTPS), FTP/SFTP</li>
                            <li>Электронный документооборот (ЭДО)</li>
                            <li>Автоматические уведомления</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="access">
    <div class="container">
        <div class="title">
            <h2>Major Access Point </h2>
        </div>
        <div class="access-wrapp">
            <div class="access-item access-item-img">
                <img src="img/access.png" alt="">
            </div>
            <div class="access-item">
                <div class="item-about">
                    <h3>Предоставление доступа</h3>
                    <p>Всем клиентам предоставляется доступ к информационному сервису <span>Major Access Point</span>,
                        где вы можете получить исчерпывающую информация о вашем товаре на складе. </p>
                </div>
                <div class="access-content">
                    <div class="item w300">
                        <img src="img/icons/web-log-in.svg" alt="">
                        <p>Доступ для сотрудников и контрагентов Клиента</p>
                    </div>
                    <div class="item w250">
                        <img src="img/icons/secure-shield.svg" alt="">
                        <p>Защищенный канал и гибкие права видимости</p>
                    </div>
                    <div class="item w370">
                        <img src="img/icons/transport.svg" alt="">
                        <p>Интегрирован со всеми подразделениями логистического холдинга Major</p>
                    </div>
                </div>
            </div>
            <div class="access-item">
                <div class="item-about">
                    <h3>Широкий спектр возможностей</h3>
                </div>
                <div class="access-content">
                    <div class="item w270">
                        <img src="img/icons/search-box.svg" alt="">
                        <p>Формирование складских и транспортных заказов</p>
                    </div>
                    <div class="item w250">
                        <img src="img/icons/24-hours.svg" alt="">
                        <p>Доступ к актуальной складской отчетности 24/7</p>
                    </div>
                    <div class="item w270">
                        <img src="img/icons/check-list.svg" alt="">
                        <p>Скан-копии сопроводительных документов</p>
                    </div>
                    <div class="item w250">
                        <img src="img/icons/qr-code.svg" alt="">
                        <p>MAP-shop и фотокаталог</p>
                    </div>
                </div>
            </div>
            <div class="access-item">
                <img src="img/access2.png" alt="">
            </div>
        </div>
        <div class="btn">
            <a href="#order" data-target="" class="open-modal">Оформить заявку</a>
        </div>
    </div>
</section>
<section class="store">
    <div class="title">
        <h2>Храним и обрабатываем</h2>
    </div>
    <div class="store-content">
        <div class="store-item">
            <div class="store-img">
                <img src="img/icons/file.svg" alt="">
            </div>
            <div class="store-about">
                <h4>POSM</h4>
            </div>
        </div>
        <div class="store-item">
            <div class="store-img">
                <img src="img/icons/car.svg" alt="">
            </div>
            <div class="store-about">
                <h4>Автомотив</h4>
            </div>
        </div>
        <div class="store-item">
            <div class="store-img">
                <img src="img/icons/jacket (1).svg" alt="">
            </div>
            <div class="store-about">
                <h4>Одежда</h4>
            </div>
        </div>
        <div class="store-item">
            <div class="store-img">
                <img src="img/icons/milk.svg" alt="">
            </div>
            <div class="store-about">
                <h4>FMCG</h4>
            </div>
        </div>
        <div class="store-item">
            <div class="store-img">
                <img src="img/icons/antenna.svg" alt="">
            </div>
            <div class="store-about">
                <h4>Телеком</h4>
            </div>
        </div>
    </div>
</section>

<section class="clients">
    <div class="title">
        <h2>Клиенты</h2>
    </div>
    <div class="clients-content">
        <div class="clients-item">
            <img src="img/client1.png" alt="">
        </div>
        <div class="clients-item">
            <img src="img/client2.png" alt="">
        </div>
        <div class="clients-item">
            <img src="img/client3.png" alt="">
        </div>
        <div class="clients-item">
            <img src="img/client4.png" alt="">
        </div>
        <div class="clients-item">
            <img src="img/client5.png" alt="">
        </div>
        <div class="clients-item">
            <img src="img/client6.png" alt="">
        </div>
        <div class="clients-item">
            <img src="img/client7.png" alt="">
        </div>
    </div>
</section>
<section class="reviews">
    <div class="title">
        <h2>Отзывы</h2>
    </div>
    <div class="reviews-content">
        <div class="reviews-item">
            <div class="reviews-img">
                <img src="img/ccc.png" alt="">
            </div>
            <div class="reviews-about">
                <div class="item-about">
                    <h3>Отзыв клиента:</h3>
                    <p>Компания ООО «ССС Раша» выражает свою благодарность ООО «Мейджор Терминал» за качественную и
                        своевременную приемку, хранение, комплектацию и отправку наших грузов, а так же за внимательный
                        подход к поставленным задачам.</p>
                </div>
            </div>
        </div>
        <div class="reviews-item">
            <div class="reviews-about">
                <div class="item-about">
                    <h3>Отзыв клиента:</h3>
                    <p>АО «Бьютиж Рус» выражает свою благодарность ООО «Мейджор Терминал» за качественное оказание услуг
                        по хранению продукции и оперативную работу по приемке и комплектации наших грузов.</p>
                    <p>Рекомендуем ООО «Мейджор Терминал» как надежного партнера. </p>
                </div>
            </div>
            <div class="reviews-img">
                <img src="img/revlon.png" alt="">
            </div>
        </div>
        <div class="reviews-item">
            <div class="reviews-img">
                <img src="img/yamaha.png" alt="">
            </div>
            <div class="reviews-about">
                <div class="item-about">
                    <h3>Отзыв клиента:</h3>
                    <p>Компания ООО «Ямаха Мюзик» выражает Вам свою благодарность и признательность ООО «Мейджор
                        Терминал» за качественную и своевременную приемку, хранение, комплектацию и отправку наших
                        грузов, а так же за внимательный подход к поставленным задачам.</p>
                </div>
            </div>
        </div>
        <div class="reviews-item">
            <div class="reviews-about">
                <div class="item-about">
                    <h3>Отзыв клиента:</h3>
                    <p>Компания ООО «КАЛЦРУ» выражает свою благодарность ООО «Мейджор Терминал» за качественную и
                        своевременную приемку, хранение, комплектацию и отправку наших грузов, а так же за внимательный
                        подход к поставленным задачам.</p>
                </div>
            </div>
            <div class="reviews-img">
                <img src="img/calzedonia.png" alt="">
            </div>
        </div>
    </div>
</section>
<% include partials/footer.ejs %>