.container {
  width: 1550px;
  padding: 0 15px;
  margin: 0 auto;
}



.title {
  text-align: center;

  h2 {
    color: #3f464e;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    &::after {
      content: "";
      height: 1px;
      width: 90px;
      background-color: #c6c6c6;
      top: 50%;
      position: absolute;
      left: 100%;
      margin-left: 20px;
    }
    &::before {
      content: "";
      height: 1px;
      width: 90px;
      background-color: #c6c6c6;
      top: 50%;
      position: absolute;
      right: 100%;
      margin-right: 20px;
    }
  }
}

.btn {
  margin: 0 auto;
  text-align: center;
  a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    background-color: #ef3c39;
    min-width: 260px;
    padding: 12px 0;
  }
}

[class*="ymaps-2"][class*="-ground-pane"] {
  // filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.2 0.2 0.2 0 0   0.3 0.3 0.3 0 0  1 1 1 0 0  0 0 0 1 0'/></filter></svg>#grayscale");
	// filter: invert(14%) sepia(80%) saturate(3400%) hue-rotate(190deg) brightness(99%) contrast(200%);
  // filter: hue-rotate(240deg);
	filter: grayscale(1);

}
.ymaps-2-1-74-searchbox-input__input[placeholder]{
  display: none;
}
.ymaps-2-1-74-map ymaps:after, .ymaps-2-1-74-map ymaps:before{
  display: none;
}
.ymaps-2-1-74-searchbox__normal-layout .ymaps-2-1-74-searchbox-button{
  display: none;
}


.item-about {
  h3 {
    color: #3f464e;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ef3c39;
    }
  }
  p {
    color: #3f464e;
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
    span {
      color: #00539f;
      font-weight: bold;
    }
  }
  ul {
    padding-top:30px;
    li {
      list-style: none;
      position: relative;
      padding-left: 20px;
      font-size: 18px;
      color: #3f464e;
      font-weight: 400;
      padding-bottom: 15px;
      span {
        font-weight: bold;
      }
      &::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: #c6d7e4;
        left: 0;
        top: 10px;
      }
    }
  }
}

.modal {
  overflow-x: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: auto;
  &.active {
    display: flex;
  }
  .modal-wrapp {
    height: auto;
    position: relative;
    span {
      &.close {
        position: absolute;
        right: 20px;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3f464e;
        font-size: 30px;
        font-weight: 100;
      }
    }
    .modal-content {
      width: 480px;
      padding: 20px;
      background-color: #ffffff;
      .close {
        display: none;
      }
      &.order {
        width: 740px;
        padding-right: 35px;
        padding-top: 20px;
        height: 664px;
        .modal-about{
          .form-content{
            .form-group{
              padding-bottom: 10px;
            }
          }
        }
      }
      .modal-title {
        padding-top: 20px;
        h3 {
          font-weight: 700;
          font-size: 18px;
          color: #3f464e;
        }
        span {
          display: block;
          color: #3f464e;
          font-size: 12px;
          font-weight: 400;
          padding-top: 20px;
        }
      }
      .modal-about {
        padding-top: 30px;
        .form-group {
          padding-bottom: 20px;
          &.time {
            input {
              width: 80px;
            }
          }
          label {
            display: block;
            color: #3f464e;
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 10px;
            span {
              color: #f04946;
            }
          }
          input {
            display: inline-block;
            width: 300px;
            padding: 10px 0 10px 20px;
            font-size: 15px;
            font-family: "Arial";
            border: 1px solid #dce0e3;
            &::placeholder {
              color: #dce0e3;
            }
          }
          button {
            border: none;
            font-size: 15px;
            color: #fefefe;
            font-weight: 400;
            text-align: center;
            background-color: #ef3c39;
            display: inline-block;
            min-width: 166px;
            padding: 10px 0;
          }
        }
        .form-content {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          .form-group {
            flex: 0 0 43%;
            &.all {
              flex: 0 0 100%;
            }
            &.pallet-input {
              display: flex;
              flex-wrap: wrap;
              label {
                flex: 0 0 100%;
              }
              input {
                display: inline-block;
                width: 140px;
              }
              select {
                display: inline-block;
                width: 140px;
                padding: 10px;
                font-size: 15px;
                font-family: "Arial";
                background-color: #ffffff;
                border: 1px solid #dce0e3;
                color: #dce0e3;
                margin-left: 60px;
              }
            }
            textarea {
              resize: none;
              width: 100%;
              height: 60px;
              border: 1px solid #dce0e3;
              padding: 20px;
            }
          }
        }
        .send{
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
        .selects {
          padding: 20px 0;
          h4 {
            color: #3f464e;
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 5px;
          }
          .select-form {
            display: flex;
            padding-top: 15px;
            input {
              display: none;
              overflow: hidden;
              opacity: 0;
              &:checked{
                &~label{
                  &::after{
                    display: block;
                  }
                }
              }
            }
            label {
              font-size: 15px;
              font-weight: 400;
              color: #3f464e;
              &.check {
                width: 20px;
                margin-right: 15px;
                height: 20px;
                font-size: 0;
                border: 1px solid #dce0e3;
                background-color: #f2f2f2;
                position: relative;
                &::after {
                  position: absolute;
                  content: "";
                  display: none;
                  transform: rotate(45deg);
                  width: 5px;
                  left: 7px;
                  height: 10px;
                  border: solid #6d6d6d;
                  border-width: 0 1px 1px 0;
                }
              }
            }
          }
          
        }
      }
    }
  }
}


.aggree {
  padding-top: 30px;
  &.send-aggree{
    padding-top: 0;
  }
  p{
    color: #3f464e;
    font-size: 10px;
    font-weight: 400;
    span{
      color: #ef3c39;
    }
  }
  h5 {
    font-size: 6px;
    font-weight: 400;
    color: #3f464e;
    a {
      text-decoration: none;
      color: #00539f;
    }
  }
}
.max{
  padding-right: 15px;
}
@media (max-width: 320px){
  .header-order a {
    &:first-of-type {
      font-size: 18px!important;
    }
  }
}