@media #{$xs} {
  header .header-wrapp {
    flex-wrap: wrap;
    align-items: flex-end;
  }
  header .header-wrapp .header-order {
    text-align: right;
    padding-top: 15px;
  }
  header .header-wrapp .logo {
    display: inherit;
  }
  header .header-wrapp .header-order a.order-call {
    margin-left: 0;
  }
  section.offer .offer-wrapp .offer-title {
    padding-top: 30px;
  }
  section.offer .offer-wrapp .offer-title p {
    font-size: 18px;
    line-height: 15px;
  }

  section.offer .offer-wrapp .offer-title h2 {
    font-size: 24px;
  }
  section.offer .offer-wrapp .offer-content {
    padding-top: 40px;
  }
  section.offer .offer-wrapp .offer-content .offer-about .offer-item {
    padding: 0 10px;
  }
  section.offer .offer-wrapp .offer-content .offer-about .offer-item .item-img {
    width: 50px;
  }
  section.offer .offer-wrapp .offer-content .offer-about .offer-item .item-title p {
    font-size: 12px;
    padding-bottom: 10px;
  }
  section.offer .percents {
    width: 250px;
  }
  section.offer .percents .percents-about .percents-item h4 {
    font-size: 18px;
  }
  section.offer .percents .percents-about .percents-item span {
    font-size: 12px;
  }
  section.offer .percents .percents-about .percents-item {
    padding: 0 10px;
    &:nth-child(2) {
      border: none;
    }
  }
  section.offer .offer-wrapp .offer-content {
    padding-bottom: 20px;
  }
  section.offer .percents {
    bottom: -200px;
  }
  section.services .services-content .services-wrapp {
    flex: 0 0 100%;
    max-width: 100%;
  }
  section.services .services-content .services-wrapp .services-item .services-img {
    width: 50px;
  }
  section.services .services-content .services-wrapp .services-item .services-about h4 {
    font-size: 16px;
  }
  section.services .services-content .services-wrapp .services-item .services-about p {
    font-size: 12px;
  }
  section.services .services-content .services-wrapp .services-item .services-about ul li {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .btn a {
    font-size: 14px;
    min-width: 150px;
  }
  .title h2 {
    font-size: 30px;
  }
  section.warehouse .warehouse-wrapp .warehouse-content .warehouse-item img {
    width: 100%;
    height: 191px;
  }
  .item-about ul li {
    font-size: 12px;
  }
  section.warehouse .warehouse-wrapp .warehouse-content {
    justify-content: center;
    margin: 0;
  }
  section.location .location-content .location-about {
    width: 300px;
    padding: 15px;
    left: 0;
    top: 100%;
    right: 0;
    margin: 0 auto;
  }
  section.access .access-wrapp .access-item .access-content .item {
    padding: 0 15px;
  }
  section.access .access-wrapp .access-item .access-content {
    margin: 0 auto;
    padding-top: 20px;
  }
  section.location .location-content .location-about .location-title p {
    font-size: 12px;
  }
  section.location .location-content .location-about .location-title .location-call a {
    font-size: 12px;
  }
  section.location .location-content .location-about .location-title .location-call span {
    font-size: 12px;
  }
  section.location .location-content .map {
    height: 400px;
  }
  section.location .location-content .location-about .location-title .location-call span {
    display: block;
    padding: 0;
  }
  section.location .location-content .location-about .location-title .location-call {
    justify-content: flex-start !important;
  }
  section.location .location-content .location-about .location-title .location-call a {
    display: flex;
  }
  section.wmsblock {
    padding-top: 500px;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  section.wmsblock .wmsblock-content {
    padding: 0;
    padding-top: 20px;
  }
  .item-about h3 {
    font-size: 16px;
  }
  .item-about p {
    font-size: 12px;
  }
  section.access .access-wrapp .access-item .access-content .item img {
    width: 40px;
  }
  section.access .access-wrapp .access-item .access-content .item p {
    font-size: 12px;
  }
  section.store .store-content .store-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
  }
  section.store .store-content .store-item .store-img {
    width: 100px;
    height: 100px;
  }
  section.store .store-content .store-item .store-img img {
    width: 50px;
  }
  section.store .store-content .store-item .store-about h4 {
    font-size: 18px;
  }
  section.store .store-content .store-item .store-about {
    padding-top: 15px;
  }
  section.clients .clients-content .clients-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  section.clients .clients-content .clients-item img {
    width: 100%;
  }
  section.access .access-wrapp .access-item,
  section.wmsblock .wmsblock-content .wmsblock-about {
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 4;
    }
    &:nth-child(4) {
      order: 3;
    }
  }
  .modal .modal-wrapp .modal-content {
    width: 300px;
  }
  .modal .modal-wrapp .modal-content .modal-about .form-group input {
    width: 100%;
  }
  .modal .modal-wrapp .modal-content.order {
    width: 290px;
    height: 100%;
    padding-top: 300px;
  }
  .modal .modal-wrapp .modal-content .modal-about .form-content .form-group {
    flex: 0 0 100%;
  }
  .modal .modal-wrapp .modal-content .modal-about .form-content {
    justify-content: center;
  }
  .modal .modal-wrapp .modal-content .modal-about .form-content .form-group.pallet-input select {
    margin: 20px;
  }
  .modal .modal-wrapp .modal-content .modal-about .form-content .form-group.pallet-input {
    justify-content: center;
  }
  .modal .modal-wrapp .modal-content .modal-about .selects .select-form label.check {
    min-width: 10px !important;
    height: 10px;
    max-width: 10px;
  }
  .modal .modal-wrapp .modal-content .modal-about .selects .select-form label{
      font-size: 12px;
  }
  .modal .modal-wrapp .modal-content .modal-about .send{
      flex-wrap: wrap;
      justify-content: center;
  }
  .aggree.send-aggree{
      padding-bottom: 20px;
  }
  section.warehouse .warehouse-wrapp .warehouse-content .warehouse-item{
      width: 100%;
  }
  section.access .access-wrapp .access-item .access-content .item.w270 p{
      width: 100%;
  }
  section.access .access-wrapp .access-item .access-content .item.w250 p{
    width: 100%;
}section.access .access-wrapp .access-item .access-content .item.w300 p{
    width: 100%;
}
section.access .access-wrapp .access-item .access-content .item.w370 p{
    width: 100%;
}
section.services .services-content .services-wrapp .services-item{
  height: 470px;
}
}
@media #{$sm} {
  section.services .services-content .services-wrapp .services-item{
    height: 460px;  
  }
  header .header-wrapp .logo {
    width: 80px;
  }
  section.access .access-wrapp .access-item .access-content .item.w300 p{
      width: 100%;
  }
  header .header-wrapp .header-order a {
    font-size: 18px;
  }
  header .header-wrapp .header-order a.order-call {
    min-width: 140px;
  }
  section.offer .offer-wrapp .offer-title p {
    font-size: 18px;
  }
  section.offer .offer-wrapp .offer-title h2 {
    font-size: 36px;
  }
  section.offer .percents {
    width: 500px;
  }
  .title h2 {
    font-size: 36px;
  }
  section.services .services-content .services-wrapp .services-item {
    padding: 20px;
  }
  section.services .services-content .services-wrapp .services-item .services-img {
    width: 50px;
  }
  section.services .services-content .services-wrapp .services-item .services-about h4 {
    font-size: 16px;
  }
  section.services .services-content .services-wrapp .services-item .services-about p {
    font-size: 12px;
  }
  section.services .services-content .services-wrapp .services-item .services-about ul li {
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .btn a {
    min-width: 160px;
    font-size: 14px;
  }
  section.location .location-content .location-about {
    width: 300px;
    padding: 20px;
  }
  section.location .location-content .location-about .location-title p {
    font-size: 14px;
  }
  section.location .location-content .location-about .location-title .location-call a {
    font-size: 12px;
  }
  section.location .location-content .location-about .location-title .location-call span {
    font-size: 12px;
  }
  section.wmsblock {
    padding-top: 70px;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item .wmsblock-item-wrapp .wmsblock-text {
    font-size: 12px;
  }
  .item-about p {
    font-size: 14px;
  }
  section.access .access-wrapp .access-item .access-content .item p {
    font-size: 14px;
  }
  section.access .access-wrapp .access-item .access-content .item img {
    width: 50px;
  }
  section.access .access-wrapp .access-item .access-content .item {
    padding: 40px 25px 0 65px;
  }
  section.store .store-content .store-item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-bottom: 20px;
  }
  section.store .store-content .store-item .store-img {
    width: 100px;
    height: 100px;
  }
  section.store .store-content .store-item .store-img img {
    width: 50px;
  }
  section.store .store-content .store-item .store-about h4 {
    font-size: 18px;
  }

  section.services .services-content .services-wrapp {
    flex: 0 0 49%;
    max-width: 49%;
  }
  section.services .services-content .services-wrapp:last-child {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    max-width: 100%;
    .services-item {
      flex: 0 0 49%;
      max-width: 49%;
    }
  }
  section.clients .clients-content .clients-item {
    flex: 0 0 32%;
    max-width: 32%;
  }
  section.reviews .reviews-content .reviews-item {
    padding-bottom: 20px;
  }
  .modal .modal-wrapp .modal-content.order {
    width: 540px;
    padding-top: 250px;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  section.offer .offer-wrapp .offer-content {
    width: 100%;
  }
  section.offer .offer-wrapp .offer-content .offer-about {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  section.offer .offer-wrapp .offer-content .offer-about .offer-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  section.offer .percents {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  section.offer .percents .percents-about {
    width: 100%;
    flex-wrap: wrap;
  }
  section.offer .percents .percents-about .percents-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 20px;
  }

  section.warehouse .warehouse-wrapp {
    width: 100%;
  }
  .title h2::after,
  .title h2::before {
    display: none;
  }
  section.warehouse .warehouse-wrapp .warehouse-content {
    flex-wrap: wrap;
  }
  section.warehouse .warehouse-wrapp .warehouse-content .warehouse-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  section.warehouse .warehouse-wrapp .warehouse-content .warehouse-item {
    width: 100%;
  }
  section.location .location-content .location-about .location-title .location-call {
    flex-wrap: wrap;
    justify-content: center;
  }
  section.location .location-content .location-about .location-title .location-call a {
    flex: 0 0 100%;
    text-align: center;
  }
  section.location .location-content .location-about .location-wrapp ul li {
    font-size: 12px;
  }
  section.wmsblock .wmsblock-content {
    flex-wrap: wrap;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item .wmsblock-item-wrapp {
    padding: 10px;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item {
    padding: 5px;
    padding-bottom: 10px;
  }
  section.wmsblock .wmsblock-content .wmsblock-about {
    flex: 0 0 100%;
    max-width: 100%;
  }
  section.access .access-wrapp .access-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  section.store .store-content {
    width: 100%;
    flex-wrap: wrap;
  }
  section.clients .clients-content {
    flex-wrap: wrap;
    width: 100%;
  }

  section.reviews .reviews-content {
    width: 100%;
    padding: 0 10px;
  }
  section.access .access-wrapp .access-item .access-content {
    width: 100%;
  }
  section.warehouse .warehouse-wrapp .warehouse-content {
    width: 100%;
  }
}
@media #{$md} {
  .container {
    width: 730px;
  }
  section.access .access-wrapp .access-item .access-content .item.w370 p{
      width: 290px;
  }
  section.access .access-wrapp .access-item .access-content .item.w300 p{
      width: 150px;
  }
  section.access .access-wrapp .access-item .access-content .item.w270 p{
      width: 150px;
  }
  section.access .access-wrapp .access-item .access-content .item.w250 p{
      width: 160px;
  }
  section.offer .offer-wrapp .offer-title p {
    font-size: 24px;
  }
  section.offer .offer-wrapp .offer-title h2 {
    font-size: 40px;
  }
  section.offer .offer-wrapp .offer-content .offer-about {
    flex-wrap: wrap;
  }
  section.offer .offer-wrapp .offer-content .offer-about .offer-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  section.offer .offer-wrapp .offer-content {
    padding: 60px 20px 30px;
  }
  section.offer .percents {
    width: 650px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  section.offer .percents .percents-about {
    width: 100%;
  }
  section.offer .percents .percents-about .percents-item h4 {
    font-size: 20px;
  }
  section.offer .percents .percents-about .percents-item span {
    font-size: 14px;
    text-align: center;
  }
  section.offer .percents .percents-about .percents-item {
    padding: 0 20px;
  }
  section.services .services-content .services-wrapp {
    flex: 0 0 49%;
    max-width: 49%;
  }
  section.services .services-content .services-wrapp:last-child {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    max-width: 100%;
    .services-item {
      flex: 0 0 49%;
      max-width: 49%;
    }
  }
  section.warehouse .warehouse-wrapp {
    width: 100%;
  }
  section.warehouse .warehouse-wrapp .warehouse-content {
    margin: 0;
  }
  section.warehouse .warehouse-wrapp .warehouse-content .warehouse-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    .item-about {
      padding-left: 40px;
    }
  }
  section.reviews .reviews-content .reviews-item .reviews-about::before {
    left: -35px;
    width: 20px;
    height: 20px;
  }
  section.warehouse .warehouse-wrapp .warehouse-content .warehouse-item img {
    width: 100%;
  }
  .item-about ul {
    padding-top: 15px;
  }
  .item-about ul li {
    font-size: 14px;
    padding-bottom: 10px;
  }
  section.location .location-content .location-about {
    width: 400px;
  }
  section.location .location-content .location-about .location-title p {
    font-size: 14px;
  }
  section.location .location-content .location-about .location-title .location-call a {
    font-size: 14px;
  }
  section.location .location-content .location-about .location-title .location-call span {
    font-size: 12px;
  }
  section.location .location-content .location-about .location-wrapp ul li {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .title h2 {
    font-size: 36px;
  }
  section.wmsblock .wmsblock-content {
    flex-wrap: wrap;
  }
  section.wmsblock .wmsblock-content {
    padding: 30px;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp {
    flex: 0 0 100%;
    max-width: 100%;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item .wmsblock-item-wrapp {
    padding: 20px;
  }
  .item-about p {
    font-size: 14px;
  }
  section.wmsblock .wmsblock-content .wmsblock-about {
    flex: 0 0 100%;
    max-width: 100%;
  }
  section.access .access-wrapp .access-item {
    padding: 50px 10px 0;
  }
  section.access .access-wrapp .access-item .access-content .item img {
    width: 40px;
  }
  section.access .access-wrapp .access-item .access-content .item p {
    font-size: 12px;
    padding-top: 10px;
  }
  section.store .store-content {
    width: 700px;
    flex-wrap: wrap;
  }
  section.store .store-content .store-item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-bottom: 20px;
  }
  section.clients .clients-content {
    width: 700px;
    flex-wrap: wrap;
  }
  section.clients .clients-content .clients-item {
    flex: 0 0 25%;
    max-width: 25%;
  }
  section.warehouse .warehouse-wrapp .warehouse-content {
    width: 100%;
  }
  section.access .access-wrapp .access-item .access-content {
    width: 100%;
  }
  section.reviews .reviews-content {
    width: 680px;
  }
  section.access .access-wrapp .access-item{
    padding-top: 0;
    padding-bottom: 30px;
  }
}
@media #{$lg} {
  .container {
    width: 880px;
  }
  section.offer .offer-wrapp .offer-title p {
    font-size: 25px;
  }
  section.offer .offer-wrapp .offer-title h2 {
    font-size: 54px;
  }
  section.offer .offer-wrapp .offer-content .offer-about .offer-item .item-img {
    width: 60px;
  }
  section.offer .offer-wrapp .offer-content .offer-about {
    margin: 0;
  }
  section.offer .offer-wrapp .offer-content .offer-about .offer-item .item-title p {
    font-size: 14px;
  }
  section.offer .percents {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 800px;
  }
  section.offer .percents .percents-about {
    width: 100%;
  }
  section.offer .percents .percents-about .percents-item {
    padding: 0 20px;
  }
  section.offer .percents .percents-about .percents-item h4 {
    font-size: 20px;
  }
  section.offer .percents .percents-about .percents-item span {
    font-size: 14px;
  }
  section.services .services-content .services-wrapp {
    flex: 0 0 31%;
    max-width: 31%;
  }
  section.services .services-content .services-wrapp .services-item .services-img {
    width: 60px;
  }
  section.services .services-content .services-wrapp .services-item .services-about h4 {
    font-size: 15px;
    padding-bottom: 15px;
  }
  section.services .services-content .services-wrapp .services-item .services-about p {
    font-size: 12px;
  }
  section.services .services-content .services-wrapp .services-item .services-about ul li {
    font-size: 12px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  section.services .services-content .services-wrapp .services-item .services-about ul li::before {
    top: 5px;
  }
  section.warehouse .warehouse-wrapp {
    width: 100%;
  }
  section.warehouse .warehouse-wrapp .warehouse-content .warehouse-item {
    padding: 10px;
  }
  section.warehouse .warehouse-wrapp .warehouse-content .warehouse-item img {
    width: 100%;
  }
  section.location .location-content .location-about {
    width: 400px;
    padding: 30px;
  }
  section.location .location-content .location-about .location-title h4 {
    font-size: 16px;
  }
  section.location .location-content .location-about .location-title p {
    font-size: 12px;
  }
  section.location .location-content .location-about .location-title .location-call {
    padding-top: 15px;
  }
  section.location .location-content .location-about .location-title .location-call a {
    font-size: 14px;
  }
  section.location .location-content .location-about .location-title .location-call span {
    font-size: 12px;
  }
  section.location .location-content .location-about .location-wrapp ul li {
    font-size: 14px;
  }
  section.wmsblock {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  section.wmsblock .wmsblock-content {
    padding-bottom: 20px;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item {
    padding: 10px;
    margin-bottom: 15px;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item .wmsblock-item-wrapp {
    padding: 15px;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item .wmsblock-item-wrapp .wmsblock-text {
    padding-left: 20px;
  }
  .item-about h3 {
    padding-bottom: 15px;
  }
  .item-about h3,
  .item-about p {
    font-size: 13px;
    padding-top: 15px;
  }
  .item-about ul {
    padding-top: 15px;
  }
  .item-about ul li {
    font-size: 13px;
    padding-bottom: 10px;
  }
  .btn a {
    min-width: 200px;
    padding: 10px 0;
    font-size: 16px;
  }
  .title h2 {
    font-size: 36px;
  }
  section.access .access-wrapp .access-item {
    padding: 10px;
    &:last-child {
      padding-top: 30px!important;
    }
  }
  section.access .access-wrapp .access-item:nth-child(2n){
    padding-top: 0;
    .item-about{
      h3{
        padding-top: 0;
      }
    }
  }
  section.access .access-wrapp .access-item .access-content .item img {
    width: 60px;
  }
  section.access .access-wrapp .access-item .access-content .item p {
    font-size: 12px;
  }
  section.access .access-wrapp .access-item .access-content .item {
    padding-top: 10px;
  }
  section.store .store-content {
    width: 880px;
  }
  section.store .store-content .store-item .store-img {
    width: 100px;
    height: 100px;
  }
  section.store .store-content .store-item .store-img img {
    width: 60px;
  }
  section.store .store-content .store-item .store-about h4 {
    font-size: 18px;
  }
  section.clients .clients-content {
    width: 880px;
  }
  section.clients .clients-content .clients-item {
    flex: 0 0 25%;
  }
  section.clients .clients-content .clients-item img {
    width: 100%;
  }
  section.clients .clients-content {
    flex-wrap: wrap;
  }
  section.reviews .reviews-content {
    width: 890px;
  }
  section.access .access-wrapp .access-item .access-content .item.w270 p{
      width: 250px;
  }
  section.access .access-wrapp .access-item .access-content .item.w300 p{
      width: 250px;
  }
  section.access .access-wrapp .access-item .access-content .item.w370 p{
      width: 300px;
  }
  section.access .access-wrapp .access-item .access-content .item.w250 p{
      width: 150px;
  }
  section.warehouse .warehouse-wrapp .warehouse-content .warehouse-item .item-about h3{
    padding-top: 0;
  }
  
}
@media (min-width: 1200px) and (max-width: 1580px) {
  .container {
    width: 100%;
  }
  section.offer .percents {
    left: 0;
    right: 0;
    width: 1000px;
    margin: 0 auto;
  }
  section.offer .percents .percents-about {
    width: 100%;
  }
  section.offer .offer-wrapp .offer-content .offer-about {
    width: 100%;
  }
  section.reviews .reviews-content {
    width: 1100px;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item .wmsblock-item-wrapp {
    padding: 20px 10px;
  }
  section.access .access-wrapp .access-item .access-content {
    width: 100%;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item .wmsblock-item-wrapp .wmsblock-text {
    padding-left: 10px;
  }
}
@media (min-width: 1280px) and (max-width: 1366px) {
}


