@media only screen and (min-height: 619px) and (max-height: 622px) and (min-width: 1365px) and (max-width: 1367px) {
  .modal {
    &.order {
      padding-top: 40px!important;
      height: 680px!important;
      .selects {
        padding: 10px 0!important;
        label {
          font-size: 13px!important;
          &.check {
            margin-right: 5px!important;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 576px){
  .order .modal-about {
    position: relative;
    .close {
      display: block!important;
      right: -10px!important;
      top: -60px!important;
    }
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item {
    max-height: 125px;
  }
  section.wmsblock .wmsblock-content .wmsblock-wrapp .wmsblock-item img {
    height: 70px;
    width: 70px;
  }
}



.ngsubmitted {
  position: relative;
}

.ngsubmitted div, .ngsubmitted input {
  visibility: hidden;
}


.ngBlockContent {
  overflow: hidden;
  text-overflow: clip;
  overflow: hidden;
}
.ngsubmittedtext, .ngsubmittedtext * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  font-weight: 700;
  font-size: 18px;
  color: #3f464e;
  white-space: nowrap;
}
.ngsubmittedtext a {
  color: #3f464e;
  text-decoration: none;
  border-bottom: 1px dashed #3f464e;
}

.ngBlockContent * {
  text-overflow: clip;
  overflow: hidden;
  font-size: 10px !important;
}

