footer{
  background-color: #0053a0;
  color: #fff;
  padding: 43px 0;
  @media (max-width: 767px){
    padding: 35px 0;
  }
  .footer-items{
    display: flex;
    align-items: center;
    @media (max-width: 767px){
      flex-wrap: wrap;
    }
    .left, .right{
      width: 50%;
      @media (max-width: 767px){
        width: 100%;
      }
      p{
        font-size: 18px;
        font-weight: bold;
        @media (max-width: 767px){
          font-size: 15px;
          text-align: center;
          padding: 5px 0;
        }
      }
    }
    .right{
      text-align: right;
      span{
        display: inline-block;
        margin-right: 95px;
        @media (max-width: 767px){
          margin-right: 0;
        }
      }
    }
  }
}