header {
  padding: 17px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: 0.3s;
  pointer-events: none;
  .header-middle {
    display:none;
  }
  &.active {
    background-color: #ffffff;
    box-shadow: 0 0 0 0.5px #d5d8dc;
  }
  .header-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >*{
       pointer-events: auto;
    }
    .logo {
      width: 105px;
      img {
        width: 100%;
      }
    }
    .header-order {
      a {
        font-size: 24px;
        line-height: 24px;
        color: #3f464e;
        font-family: "Arial";
        font-weight: bold;
        text-decoration: none;
        text-align: right;
        display: block;
        &.order-call {
          min-width: 160px;
          padding: 10px 0;
          font-size: 15px;
          line-height: 4px;
          color: #ffffff;
          font-weight: 400;
          background-color: #ef3c39;
          display: inline-block;
          text-align: center;
          margin-left: 50px;
          margin-top: 10px;
        }
      }
    }
  }
}
