	$cogs-x: 0px;
	$cogs-y: 0px;
	$cogs-offset-x: 0px;
	$cogs-offset-y: 0px;
	$cogs-width: 16px;
	$cogs-height: 11px;
	$cogs-total-width: 16px;
	$cogs-total-height: 11px;
	$cogs-image: '../img/spritebase.png';
	$cogs: 0px 0px 0px 0px 16px 11px 16px 11px '../img/spritebase.png';

	@mixin sprite-width($sprite) {
		width: nth($sprite, 5);
	}
	@mixin sprite-height($sprite) {
		height: nth($sprite, 6);
	}
	@mixin sprite-position($sprite) {
		$sprite-offset-x: nth($sprite, 3);
		$sprite-offset-y: nth($sprite, 4);
		background-position: $sprite-offset-x $sprite-offset-y;
	}
	@mixin sprite-image($sprite) {
		$sprite-image: nth($sprite, 9);
		background-image: url(#{$sprite-image});
	}
	@mixin sprite($sprite) {
		@include sprite-image($sprite);
		@include sprite-position($sprite);
		@include sprite-width($sprite);
		@include sprite-height($sprite);
	}
	$img: true !default;
	@mixin s($sprite, $img: false) {
		@if $img{
			@include sprite-image($sprite);
			@include sprite-position($sprite);
			@include sprite-width($sprite);
			@include sprite-height($sprite);
		}
		@else{
			@include sprite-position($sprite);
			@include sprite-width($sprite);
			@include sprite-height($sprite);
		}
	}
