// media queries
$xs: "(max-width: 575px)";
$sm: "(min-width: 576px) and (max-width: 767px)";
$md: "(min-width: 768px) and (max-width: 991px)";
$lg: "(min-width: 992px) and  (max-width: 1199px)";
//end  media queries

// border radius mixin 
@mixin br($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
//end border radius mixin 

@function get-vw($target) {
  $vw-context: (320 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}