section {
  &.offer {
    position: relative;

    .offer-sup {
      font-size: 18px;
      font-weight: bold;
      color: #0053a0;
      text-align: center;
      padding: 37px 0;
      @media (max-width: 1199px) {
        font-size: 15px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 29px 0;
      }
      @media (max-width: 767px) {
        margin-top: 70px;
        padding-bottom: 15px;
      }
    }

    .offer-wrapp {
      background-image: url("../img/offer.png");
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      padding-bottom: 83px;
      @media (max-width: 767px) {
        padding-bottom: 50px;
      }

      .offer-title {
        padding-top: 45px;
        text-align: center;

        p {
          color: #ecf0f3;
          font-size: 36px;
          font-weight: 200;
        }

        h2 {
          font-size: 36px;
          color: #ecf0f3;
          font-weight: 200;
          padding-top: 25px;

          span {
            font-weight: bold;
          }
        }
      }

      .offer-content {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 75px;
        padding-bottom: 80px;

        .offer-about {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin: 0 -30px;

          .offer-item {
            flex: 0 0 25%;
            max-width: 25%;
            padding: 0 30px;

            .item-img {
              width: 80px;
              margin: 0 auto;

              img {
                width: 100%;
              }
            }

            .item-title {
              text-align: center;
              padding-top: 10px;

              p {
                font-size: 18px;
                line-height: 24px;
                color: #ecf0f3;
                font-weight: 400;

                span {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }

  &.services {
    padding-top: 45px;
    padding-bottom: 70px;
    border-bottom: 1px solid #c6c6c6;

    .services-content {
      padding-top: 55px;
      padding-bottom: 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .services-wrapp {

        flex: 0 0 32%;
        max-width: 32%;

        .services-item {
          padding: 30px;
          background-color: #ffffff;
          height: 500px;
          margin-bottom: 30px;
          box-shadow: 0 0 3px 1.5px #d5d8dc;

          .services-img {
            width: 70px;

            img {
              width: 100%;
            }
          }

          .services-about {
            padding-top: 15px;

            h4 {
              font-size: 18px;
              font-weight: 700;
              color: #3f464e;
              padding-bottom: 30px;
            }

            p {
              font-size: 15px;
              color: #3f464e;
              font-weight: 400;
            }

            ul {
              li {
                list-style: none;
                padding-bottom: 10px;
                font-size: 15px;
                color: #3f464e;
                font-weight: 400;
                display: flex;
                align-items: center;
                position: relative;
                padding-left: 20px;

                &::before {
                  content: "";
                  position: absolute;
                  height: 5px;
                  width: 5px;
                  border-radius: 50%;
                  background-color: #ef3c39;
                  left: 0;
                  top: 10px;
                }

                &:last-child {
                  padding-bottom: 0;
                }

                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                  font-size: 13px;
                  padding-bottom: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  &.warehouse {
    padding-top: 50px;
    padding-bottom: 30px;

    .warehouse-wrapp {
      width: 1080px;
      margin: 0 auto;

      .warehouse-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -45px;
        padding-top: 60px;

        .warehouse-item {
          flex: 0 0 50%;
          max-width: 50%;
          padding: 10px 45px;
          padding-bottom: 10px;
          display: flex;
          justify-content: center;

          .item-about {
            margin: 0 auto;

          }
        }
      }
    }
  }

  &.location {
    background-color: #ffffff;
    padding-top: 70px;
    position: relative;

    .location-content {
      padding-top: 70px;

      .map {
        width: 100%;
        height: 600px;
      }

      .location-about {
        background-color: #ffffff;
        box-shadow: 0 0 3px 1.5px #d5d8dc;;

        width: 580px;
        padding: 60px 40px;
        position: absolute;
        top: 320px;

        .location-title {
          padding-bottom: 30px;
          border-bottom: 1px solid #c6c6c6;

          h4 {
            font-size: 18px;
            font-weight: 700;
            color: #3f464e;
          }

          p {
            color: #3f464e;
            font-size: 18px;
            font-weight: 400;
            padding-top: 15px;
          }

          .location-call {
            padding-top: 25px;
            display: flex;

            a {
              text-decoration: none;
              color: #3f464e;
              font-family: "Arial";
              font-weight: bold;
              font-size: 18px;
            }

            span {
              display: inline-block;
              font-weight: 400;
              font-size: 18px;
              padding-left: 30px;
              color: #3f464e;
            }
          }
        }

        .location-wrapp {
          padding-top: 30px;

          ul {
            li {
              list-style: none;
              position: relative;
              padding-left: 20px;
              color: #3f464e;
              font-size: 18px;
              font-weight: 400;
              padding-bottom: 10px;

              &:last-child {
                padding-bottom: 0;
              }

              &::before {
                content: "";
                position: absolute;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                background-color: #c6d7e4;
                left: 0;
                top: 10px;
              }
            }
          }
        }
      }
    }
  }

  &.wmsblock {
    padding-top: 140px;
    padding-bottom: 35px;
    border-bottom: 1px solid #c6c6c6;

    .wmsblock-content {
      padding: 55px 40px 0;
      @media (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
      }

      .wmsblock-wrapp {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px 40px;
        @media (max-width: 991px) {
          margin-left: 0;
          margin-right: 0;
        }

        .wmsblock-item {
          flex: 0 0 25%;
          max-width: 25%;
          padding: 0 20px;
          padding-top: 0;
          @media (max-width: 1199px) {
            flex: 0 0 50%;
            max-width: 50%;
          }
          @media (max-width: 991px) {
            margin-bottom: 20px;
            padding: 0 10px;
          }

          .wmsblock-item-wrapp {
            display: flex;
            background-color: #ffffff;
            box-shadow: 0 0 3px 1.5px #d5d8dc;
            padding: 20px 20px 20px 40px;
            height: 100%;

            .wmsblock-img {
              width: 70px;
              display: flex;

              img {
                width: 70px;
              }
            }

            .wmsblock-text {
              padding-left: 40px;

              h5 {
                font-size: 36px;
                font-weight: 700;
                color: #00539f;
                margin-bottom: 10px;
                @media (max-width: 991px) {
                  font-size: 30px;
                  margin-bottom: 5px;
                }
              }

              span {
                font-size: 15px;
              }
            }
          }
        }
      }

      .wmsblock-about {
        .wmsblock-about-text {
          h3 {
            text-align: center;

            &::after {
              left: calc(50% - 50px)
            }
          }

          p {
            text-align: center;
            @media (max-width: 767px) {
              margin-bottom: 20px;
            }
          }
        }

        .wmsblock-about-list {
          display: flex;
          flex-wrap: wrap;
          max-width: 1130px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 8px;

          ul {
            width: 50%;
            @media (max-width: 767px) {
              width: 100%;
              padding-top: 0;
            }

            li {
              padding: 0 15px;
              margin-bottom: 18px;
              @media (max-width: 767px) {
                font-size: 14px;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }

  &.access {
    padding-top: 45px;
    padding-bottom: 70px;
    border-bottom: 1px solid #c6c6c6;

    .access-wrapp {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 85px;
      padding-top: 50px;

      .access-item {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 30px 50px;

        &.access-item-img {
          padding: 0 20px;
        }

        img {
          width: 100%;
        }

        .access-content {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: flex-start;
          margin: 0 -70px;

          .item {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 40px 70px 0 60px;

            &.w300 {
              padding-right: 0;

              p {
                width: 300px;
              }
            }

            &.w370 {
              p {
                width: 370px;
              }
            }

            &.w250 {
              p {
                width: 250px;
              }
            }

            &.w270 {
              p {
                width: 270px;
              }
            }

            img {
              width: 60px;
            }

            p {
              color: #3f464e;
              font-size: 18px;
              font-weight: 400;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }

  &.store {
    border-bottom: 1px solid #c6c6c6;
    padding: 70px 0;

    .store-content {
      padding-top: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1150px;
      margin: 0 auto;

      .store-item {
        flex: 0 0 20%;
        max-width: 20%;

        .store-img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          margin: 0 auto;
          background-color: #c6d7e4;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 65px;
          }
        }

        .store-about {
          padding-top: 30px;
          text-align: center;

          h4 {
            color: #3f464e;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }
    }
  }

  &.cases {
    padding-top: 47px;

    .cases-content {
      padding-top: 45px;
      display: flex;
      flex-wrap: wrap;

      .cases-item {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        height: 500px;
        font-size: 0;
        padding: 0;
        position: relative;
        transition: 0.3s;
        overflow: hidden;
        @media (max-width: 1320px) {
          height: auto;
          flex: 0 0 50%;
          max-width: 50%;
        }
        @media (max-width: 767px) {
          flex: 0 0 100%;
          max-width: 100%;
        }

        &:hover {
          .cases-item-about {
            opacity: 1;
          }
        }

        .cases-item-about {
          width: 100%;
          position: absolute;
          left: 0;
          transition: 0.3s;
          top: 0;
          height: 100%;
          background-color: #00539f;
          padding: 25px 60px;
          display: flex;
          align-items: center;
          opacity: 0;
          @media (max-width: 1320px) {
            padding: 15px;
          }

          .cases-item-about-center {
            width: 100%;

            h4 {
              font-size: 18px;
              font-weight: 700;
              color: #ffffff;
              @media (max-width: 1320px) {
                font-size: 16px;
              }
              @media (max-width: 767px) {
                font-size: 14px;
              }
            }

            p {
              font-size: 15px;
              font-weight: 400;
              color: #ffffff;
              padding-top: 30px;
              line-height: 24px;
              @media (max-width: 1320px) {
                font-size: 14px;
                padding-top: 15px;
                line-height: 1.3;
              }
              @media (max-width: 767px) {
                font-size: 12px;
              }
            }
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &.clients {
    background-color: #ffffff;
    padding-top: 55px;
    padding-bottom: 70px;

    .clients-content {
      padding-top: 70px;
      display: flex;
      justify-content: space-between;
      width: 1060px;
      align-items: center;
      margin: 0 auto;

      .clients-item {
        flex: 0 0 14%;
        max-width: 14%;
      }
    }
  }

  &.reviews {
    padding: 95px 0 70px;

    .reviews-content {
      padding-top: 70px;
      width: 1210px;
      margin: 0 auto;

      .reviews-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .reviews-img {
          flex: 0 0 30%;
          max-width: 30%;

          img {
            width: 100%;
          }
        }

        .reviews-about {
          flex: 0 0 58%;
          max-width: 58%;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            height: 30px;
            width: 30px;
            background-image: url("../img/quote.png");
            background-size: contain;
            background-repeat: no-repeat;
            left: -50px;
          }
        }
      }
    }
  }
}
